doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Draw Me

    meta(name="description", content="Drawing Game")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body

  #brush

  canvas#paper

    .headings

      h1  Start drawing anywhere on the page

      h2 Other people can see your drawings, as well as join in

      h3 If it gets too messy, refresh the page!

  .colors

    h1 Pick a Color

    div#black
    div#blue
    div#red
    div#yellow
    div#green


    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    
    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")
    
    script(type="text/javascript", src="assets/scripts/main.js")
